@page "/"
@using Blazor.Extensions.BottomSheet.Services
@using Blazor.Extensions.BottomSheet.Options
@using Blazor.Extensions.Refresher
@inject IBottomSheetService BottomSheetService

<PageTitle>Home</PageTitle>

<div class="flex flex-col gap-2 p-4">
    <button class="show-modal-btn" @onclick="ShowBottomSheetComponent">Show Bottom Sheet</button>
    <button class="show-modal-btn" @onclick="ShowBottomSheetComponentWithOptions">Show Bottom Sheet With Options</button>
    <button class="show-modal-btn" @onclick="ShowBottomSheetComponentWithCustomClasses">Show Bottom Sheet With Custom Classes</button>
    <button class="show-modal-btn" @onclick="ShowBottomSheetComponentWithParameters">Show Bottom Sheet With Parameters</button>
</div>

<div id="refresher-container" class="h-96">
    <Refresher ContainerSelector="#refresher-container" Class="h-96" OnRefresh="Refresh">
        <RefresherLoader>
            <RefresherLoaderSpinner>
                <div class="size-12 rounded-full bg-white p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="text-blue-500" fill="currentColor">
                        <path d="M463.5 224l8.5 0c13.3 0 24-10.7 24-24l0-128c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1c-87.5 87.5-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8l119.5 0z" />
                    </svg>
                </div>
            </RefresherLoaderSpinner>
        </RefresherLoader>
        <RefresherContent>
            <div class="flex size-full items-center justify-center border border-gray-700">
                @Status
            </div>
        </RefresherContent>
    </Refresher>
</div>

<style>
    .sheet-container-custom .sheet-content {
        background-color: red !important;
    }
</style>

@code
{
    private string Status { get; set; } = "Pull here to refresh";

    private void ShowBottomSheetComponent()
    {
        BottomSheetService.ShowBottomSheet<ExampleBottomSheetContent>("Draggable Bottom Sheet Modal");
    }

    private void ShowBottomSheetComponentWithOptions()
    {
        BottomSheetService.ShowBottomSheet<ExampleBottomSheetContent>("Draggable Bottom Sheet Modal", options: new BottomSheetOptions
        {
            Breakpoints = [75, 100],
            InitialBreakpoint = 75,
            LightDismiss = false,
        });
    }

    private void ShowBottomSheetComponentWithCustomClasses()
    {
        BottomSheetService.ShowBottomSheet<ExampleBottomSheetContent>("Draggable Bottom Sheet Modal", options: new BottomSheetOptions
        {
            CustomClass = "sheet-container-custom"
        });
    }

    private void ShowBottomSheetComponentWithParameters()
    {
        BottomSheetService.ShowBottomSheet<ExampleBottomSheetComponentWithParameters>("Draggable Bottom Sheet Modal", parameters: new Dictionary<string, object>
        {
            [nameof(ExampleBottomSheetComponentWithParameters.Name)] = "Dennis"
        });
    }

    private async Task Refresh()
    {
        Status = "Refreshing ...";
        await Task.Delay(2500);
        Status = "Pull here to refresh";
    }
}