@page "/"
@using Blazor.Extensions.BottomSheet.Services
@using Blazor.Extensions.BottomSheet.Options
@inject IBottomSheetService BottomSheetService

<PageTitle>Home</PageTitle>

<h1>Bottom Sheet</h1>

<div class="flex flex-col gap-2 p-4">
    <button class="show-modal-btn" @onclick="ShowBottomSheetComponent">Show Bottom Sheet</button>
    <button class="show-modal-btn" @onclick="ShowBottomSheetComponentWithOptions">Show Bottom Sheet With Options</button>
    <button class="show-modal-btn" @onclick="ShowBottomSheetComponentWithCustomClasses">Show Bottom Sheet With Custom Classes</button>
    <button class="show-modal-btn" @onclick="ShowBottomSheetComponentWithParameters">Show Bottom Sheet With Parameters</button>
</div>

<style>
    .sheet-container-custom .sheet-content {
        background-color: red !important;
    }
</style>

@code
{
    private void ShowBottomSheetComponent()
    {
        BottomSheetService.ShowBottomSheet<ExampleBottomSheetContent>("Draggable Bottom Sheet Modal");
    }

    private void ShowBottomSheetComponentWithOptions()
    {
        BottomSheetService.ShowBottomSheet<ExampleBottomSheetContent>("Draggable Bottom Sheet Modal", options: new BottomSheetOptions
        {
            Breakpoints = [75, 100],
            InitialBreakpoint = 75,
            LightDismiss = false,
        });
    }

    private void ShowBottomSheetComponentWithCustomClasses()
    {
        BottomSheetService.ShowBottomSheet<ExampleBottomSheetContent>("Draggable Bottom Sheet Modal", options: new BottomSheetOptions
        {
            CustomClass = "sheet-container-custom"
        });
    }

    private void ShowBottomSheetComponentWithParameters()
    {
        BottomSheetService.ShowBottomSheet<ExampleBottomSheetComponentWithParameters>("Draggable Bottom Sheet Modal", parameters: new Dictionary<string, object>
        {
            [nameof(ExampleBottomSheetComponentWithParameters.Name)] = "Dennis"
        });
    }
}